/*
************
*************************
13. Contact
******************************************************* 
*************************************************************** */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contact_area:is(.pt-120.pb-100) {
      padding-top: 110px;
      padding-bottom: 90px;
    }
  }
  @media (max-width: 767px) {
    .contact_area:is(.pt-120.pb-100) {
      padding-top: 85px;
      padding-bottom: 60px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .contact_area:is(.pt-120.pb-100) {
      padding-top: 80px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contact_area:after {
      height: 90%;
    }
  }
  @media (max-width: 767px) {
    .contact_area:after {
      height: 80%;
      bottom: 0;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px) {
    .contact_area:after {
      height: 75%;
      bottom: 0;
    }
  }
  .contact_area .contact_content_wrapper {
    z-index: 99;
  }
  .contact_area .c_shape_dots {
    position: absolute;
    right: 45px;
    top: 65px;
    z-index: -1;
  }
  @media (max-width: 767px) {
    .contact_area .section_title:is(.mb-55) {
      margin-bottom: 40px;
    }
  }
  
  @media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
    .contact_informations_area:is(.pt-130) {
      padding-top: 120px;
    }
  }
  @media (max-width: 767px) {
    .contact_informations_area:is(.pt-130) {
      padding-top: 0px;
    }
  }
  
  @media (max-width: 767px) {
    .contact_information:is(.location_info) {
      margin-top: 10px;
    }
  }
  
  @media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
    .contact_form_area:is(.pb-130) {
      padding-bottom: 120px;
    }
  }
  @media (max-width: 767px) {
    .contact_form_area:is(.pb-130) {
      padding-bottom: 90px;
    }
  }
  
  .w_100 {
    width: 100%;
  }
  
  .contact_area_dark .contact_single i {
    color: var(--clr-theme-2);
  }
  
  .contact_single {
    height: 60px;
    position: relative;
    line-height: 60px;
  }
  .contact_single i {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--clr-theme-4);
    font-weight: 500;
  }
  .contact_single input {
    border: 0;
    width: 100%;
    padding: 0 25px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
  }
  .contact_single textarea {
    border: 0;
    border-radius: 10px;
    padding: 20px 25px;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color: #121315;
    height: 60px;
    line-height: 20px;
  }
  .contact_single textarea::placeholder {
    color: #121315;
    opacity: 1;
  }
  
  #message::placeholder {
    color: #121315;
    opacity: 1;
  }
  
  .submit_btn {
    border: 0;
    background-color: var(--clr-theme-4);
    padding: 0 25px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.3s;
    height: 60px;
    line-height: 60px;
  }
  .submit_btn:is(.submit_dark_btn) {
    background-color: var(--clr-theme-2);
  }
  .submit_btn:is(.submit_dark_btn):hover {
    color: var(--clr-theme-2);
  }
  .submit_btn i {
    font-weight: 500;
    display: inline-block;
    transform: translateY(2px);
  }
  .submit_btn:hover {
    background-color: #fff;
    color: var(--clr-theme-4);
  }
  
  .name_input i {
    margin-top: -2px;
  }
  
  .contact_informations_wrapper {
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0px 10px 60px 0px rgba(77, 77, 77, 0.1);
    padding: 80px 50px;
    padding-bottom: 40px;
    position: relative;
  }
  .contact_informations_wrapper:is(.mbm-180) {
    margin-bottom: -180px;
  }
  @media (max-width: 767px) {
    .contact_informations_wrapper:is(.ml-55) {
      margin-left: 0;
    }
  }
  @media (max-width: 767px) {
    .contact_informations_wrapper:is(.mr-55) {
      margin-right: 0;
    }
  }
  
  .contact_information_title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 15px;
  }
  
  .contact_information > i {
    font-size: 35px;
    font-weight: 400;
    color: #fff;
    background-color: --clr-theme-4;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 10px;
    margin-bottom: 35px;
    transition: 0.3s;
  }
  .contact_information p {
    font-size: 18px;
    margin-bottom: 0;
    line-height: 1.7;
  }
  .contact_information p a {
    text-decoration: none;
  }
  .contact_information p a:hover {
    color: var(--clr-theme-4);
  }
  .contact_information:hover i {
    background-color: #fff3f2;
    color: var(--clr-theme-4);
  }
  
  #gMap iframe {
    height: 810px;
    width: 100%;
    border: 0;
  }
  
  .contact_form_bg {
    background-color: #121315;
    padding: 80px;
    padding-top: 70px;
    position: relative;
  }
  @media (max-width: 767px) {
    .contact_form_bg {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .contact_form_bg:is(.mtm_120) {
    margin-top: -120px;
  }
  
  .title_text:is(.white_text) {
    color: #fff;
  }
  
  .contact_form_wrapper input {
    width: 100%;
    border: 0;
    border-radius: 5px;
    height: 55px;
    margin-bottom: 30px;
    line-height: 55px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .contact_form_wrapper input::placeholder {
    color: #001d23;
    font-size: 16px;
    font-weight: 500;
  }
  .contact_form_wrapper textarea {
    width: 100%;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
    min-height: 140px;
  }
  .contact_form_wrapper textarea::placeholder {
    color: #001d23;
    font-size: 16px;
    font-weight: 500;
  }
  .contact_form_wrapper:is(.single_page_form) input {
    background-color: #eee;
  }
  .contact_form_wrapper:is(.single_page_form) textarea {
    background-color: #eee;
    border: 0;
  }
  
  .contact_btn {
    font-size: 15px;
    font-weight: 700;
    border: 0;
    background-color: --clr-theme-4;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 35px;
    border-radius: 5px;
  }
  .contact_btn > i {
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
    display: inline-block;
    transform: translateY(1px);
  }
  .contact_btn:is(.w_100) {
    width: 100%;
  }